.CCPan {
  font-size: 17px;
  font-weight: 600;
  font-family: "Wix Madefor Display";
  color: white;
  position: absolute;
  top: 12%;
  left: 10%;
}

.CCVendor {
  font-size: 17px;
  font-weight: 600;
  font-family: "Wix Madefor Display";
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
}

.CCCvv {
  font-size: 17px;
  font-weight: 600;
  font-family: "Wix Madefor Display";
  color: white;
  position: absolute;
  top: 35%;
  left: 10%;
}

.invalid-label {
  color: red;
  margin: 0;
  font-family: "Wix Madefor Display";
  font-size: 14px;
}

.CCDate {
  font-size: 17px;
  font-weight: 600;
  font-family: "Wix Madefor Display";
  color: white;
  position: absolute;
  top: 35%;
  left: 60%;
}

label {
  font-family: "Wix Madefor Display";
  font-size: 13px;
  font-weight: 700;
  color: #000000b2;
}

.date {
  font-family: "Wix Madefor Display";
}

.date .submit {
  font-family: "Wix Madefor Display";
  display: flex;
  align-self: center;
  position: relative;
  border-radius: 30px;
  border: none;
}

body {
  height: 100vh;
  background: rgb(221, 234, 235);
  background: linear-gradient(0deg, rgba(221, 234, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  row-gap: 35px;
  background-color: #ffffff;
  min-height: 500px;
  width: 80%;
  max-width: 550PX;
  padding-top: 70px;
  padding-bottom: 80px;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 15px 15px 70px #c9c9c9,
    -15px -15px 70px #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}



.input-container input {
  border-style: solid;
  border-width: 1px;
  border-color: #909090;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  background: #ffffff;
  box-shadow: inset 3px 3px 8px #d4d4d4,
    inset -3px -3px 8px #ffffff;
  padding: 4px 8px;
  font-family: "Wix Madefor Display";
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit {
  margin-top: 15px;
  padding: 8px 15px;
  padding-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
